<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title font-weight-bold">
            Liste
            <img src="https://api.iconify.design/material-symbols:add.svg" (click)="updateClub()"
                 ngbTooltip="Ajouter un club"
                 style="cursor: pointer">
          </h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">
              <th>
                Id
              </th>
              <th>
                Actions
              </th>
              <th>
                Nom
              </th>
              <th>
                Ville
              </th>
              <th>
                Pays
              </th>
              <th>
                Stade
              </th>
              </thead>
              <tbody>
              <tr *ngFor="let club of clubList">
                <td>
                  {{club.id}}
                </td>
                <td>
                  <img class="ml-2" src="https://api.iconify.design/material-symbols:edit.svg" alt="edit"
                       (click)="updateClub(club)" style="cursor: pointer" ngbTooltip="Mettre à jour {{club.name}}">
                  <img class="ml-3" src="https://api.iconify.design/material-symbols:delete.svg" alt="delete"
                       (click)="deleteClub(club)" style="cursor: pointer" ngbTooltip="Supprimer {{club.name}}">
                </td>
                <td>
                  <img height="25" class="mr-2" [src]="club.logo">
                  {{club.name}}
                </td>
                <td>
                  {{club.city}}
                </td>
                <td>
                  {{club.country}}
                </td>
                <td>
                  {{club.stadium}}
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
