<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-7">
      <div class="card">
        <div class="card-header">
          <h5 class="title">{{title}}</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="clubForm">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="name" class="text-primary">Nom*</label>
                  <input type="text" class="form-control"
                         id="name"
                         [ngClass]="{ 'is-invalid': (submitted || controls.name.touched || controls.name.dirty ) && controls.name.errors?.required }"
                         placeholder="Type the name of the club"
                         formControlName="name">
                  <small
                    *ngIf="(submitted || controls.name.touched || controls.name.dirty ) && controls.name.errors?.required">
                    <span class="text-danger">{{"Ce champs est requis"}}</span>
                  </small>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="city" class="text-primary">Ville*</label>
                  <input type="text" class="form-control"
                         id="city"
                         [ngClass]="{ 'is-invalid': (submitted || controls.city.touched || controls.city.dirty ) && controls.city.errors?.required }"
                         placeholder="Type the name of a city"
                         formControlName="city">
                  <small
                    *ngIf="(submitted || controls.city.touched || controls.city.dirty ) && controls.city.errors?.required">
                    <span class="text-danger">{{"Ce champs est requis"}}</span>
                  </small>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="country" class="text-primary">Pays*</label>
                  <input type="text" class="form-control"
                         id="country"
                         [ngClass]="{ 'is-invalid': (submitted || controls.country.touched || controls.country.dirty ) && controls.country.errors?.required }"
                         placeholder="Type the name of a country"
                         formControlName="country">
                  <small
                    *ngIf="(submitted || controls.country.touched || controls.country.dirty ) && controls.country.errors?.required">
                    <span class="text-danger">{{"Ce champs est requis"}}</span>
                  </small>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="stadium" class="text-primary">Stade*</label>
                  <input type="text" class="form-control"
                         id="stadium"
                         [ngClass]="{ 'is-invalid': (submitted || controls.stadium.touched || controls.stadium.dirty ) && controls.stadium.errors?.required }"
                         placeholder="Type the name of the club's stadium"
                         formControlName="stadium">
                  <small
                    *ngIf="(submitted || controls.stadium.touched || controls.stadium.dirty ) && controls.stadium.errors?.required">
                    <span class="text-danger">{{"Ce champs est requis"}}</span>
                  </small>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="logo" class="text-primary">Url du logo*</label>
                  <input type="text" class="form-control"
                         id="logo"
                         [ngClass]="{ 'is-invalid': (submitted || controls.logo.touched || controls.logo.dirty ) && controls.logo.errors?.required }"
                         placeholder="Type the name of the club's stadium"
                         formControlName="logo">
                  <small
                    *ngIf="(submitted || controls.logo.touched || controls.logo.dirty ) && controls.logo.errors?.required">
                    <span class="text-danger">{{"Ce champs est requis"}}</span>
                  </small>
                </div>
              </div>
            </div>
            <div class="pull-right">
              <button class="btn btn-primary" (click)="onSubmit()">Valider</button>
            </div>
            <div class="pull-right">
              <button class="btn btn-secondary" (click)="back()">Retour</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="card card-user">
        <div class="image">
          <img src="https://cdn.pixabay.com/photo/2014/10/14/20/24/soccer-488700_1280.jpg" alt="logo">
        </div>
        <div class="card-body">
          <div class="author">
            <a>
              <img class="avatar"
                   [src]="club.logo ? club.logo : 'https://cdn.pixabay.com/photo/2018/06/12/19/59/football-3471371_1280.jpg'"
                   alt="logo">
              <h5 class="title text-primary">{{controls.name.value ? controls.name.value : 'Nom du club'}}</h5>
            </a>
            <p class="text-primary">
              <img src="https://api.iconify.design/material-symbols:location-city.svg" width="25" height="25"
                   class="mr-1">
              {{controls.city.value ? controls.city.value : 'Ville'}}
            </p>
            <p class="text-primary">
              <img src="https://api.iconify.design/material-symbols:flag-outline-rounded.svg" width="25" height="25"
                   class="mr-1">
              {{controls.country.value ? controls.country.value : 'Pays'}}
            </p>
            <p class="text-primary">
              <img src="https://api.iconify.design/material-symbols:stadium-outline.svg" width="25" height="25"
                   class="mr-1">
              {{controls.stadium.value ? controls.stadium.value : 'Stade'}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
