<div class="card card-user">
  <div class="image">
    <img src="https://cdn.pixabay.com/photo/2014/10/14/20/24/soccer-488700_1280.jpg" alt="logo">
  </div>
  <div class="card-body">
    <div class="author">
      <a>
        <img class="avatar"
             [src]="club.logo.value"
             alt="logo">
        <h5 class="title text-primary">{{club.name.value ? club.name.value : 'Nom du club'}}</h5>
      </a>
      <p class="text-primary">
        <img src="https://api.iconify.design/material-symbols:location-city.svg" width="25" height="25"
             class="mr-1">
        {{club.city.value ? club.city.value : 'Ville'}}
      </p>
      <p class="text-primary">
        <img src="https://api.iconify.design/material-symbols:flag-outline-rounded.svg" width="25" height="25"
             class="mr-1">
        {{club.country.value ? club.country.value : 'Pays'}}
      </p>
      <p class="text-primary">
        <img src="https://api.iconify.design/material-symbols:stadium-outline.svg" width="25" height="25"
             class="mr-1">
        {{club.stadium.value ? club.stadium.value : 'Stade'}}
      </p>
    </div>
  </div>
</div>
