<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
  <div class="container-fluid">
    <h2 class="font-weight-bold mx-auto my-4">
      <img height="35" width="35" src="https://api.iconify.design/noto:soccer-ball.svg" class="mr-1">
      Clubs de Foot
    </h2>
    <img height="20" width="20" src="https://api.iconify.design/material-symbols:power-rounded.svg?color=%23ffffff"
         class="mr-1" style="cursor: pointer" ngbTooltip="Se Déconnecter" (click)="authService.logout()">
  </div>
</nav>
